<div class="row">
  <div class="col-xs-12">
    <!--<a [routerLink]="['/productCategory',productCategory.productCategoryId]" class="list-group-item clearfix " style="cursor: pointer" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >-->
    <a class="list-group-item clearfix " style="cursor: pointer" routerLinkActive="active" (click)="selectedCity()">
      <div class="pull-left" >
        <p class="list-group-item-text">{{holiday.city}}</p>
      </div>
      <!--<span class="pull-right">-->
      <!--<img-->
      <!--[src]="productCategory.image"-->
      <!--alt="{{ country.name }}"-->
      <!--class="img-responsive"-->
      <!--style="max-height: 50px;">-->
      <!--</span>-->
      <span class="pull-right">
        <img
          class="img-responsive"
          style="max-height: 50px;">
      </span>
    </a>
  </div>
</div>
