<!--// FREE  CSS Loaders from https://loading.io-->

<div class="lds-css ng-scope">
  <div class="lds-spin" style="width:100%;height:100%"><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div></div>
  <style type="text/css">@keyframes lds-spin {
                           0% {
                             opacity: 1;
                             -webkit-transform: scale(1, 1);
                             transform: scale(1, 1);
                           }
                           100% {
                             opacity: 0;
                             -webkit-transform: scale(1, 1);
                             transform: scale(1, 1);
                           }
                         }
  @-webkit-keyframes lds-spin {
    0% {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
    100% {
      opacity: 0;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }
  .lds-spin {
    position: relative;
  }
  .lds-spin div > div {
    position: absolute;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #a7a7a7;
    -webkit-animation: lds-spin 1s linear infinite;
    animation: lds-spin 1s linear infinite;
  }
  .lds-spin div:nth-child(1) > div {
    left: 158px;
    top: 78px;
    -webkit-animation-delay: -0.888888888888889s;
    animation-delay: -0.888888888888889s;
  }
  .lds-spin > div:nth-child(1) {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 180px 100px;
    transform-origin: 180px 100px;
  }
  .lds-spin div:nth-child(2) > div {
    left: 139.28355544px;
    top: 129.4230088px;
    -webkit-animation-delay: -0.777777777777778s;
    animation-delay: -0.777777777777778s;
  }
  .lds-spin > div:nth-child(2) {
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-transform-origin: 161.28355544px 151.4230088px;
    transform-origin: 161.28355544px 151.4230088px;
  }
  .lds-spin div:nth-child(3) > div {
    left: 91.89185424px;
    top: 156.78462023999998px;
    -webkit-animation-delay: -0.666666666666667s;
    animation-delay: -0.666666666666667s;
  }
  .lds-spin > div:nth-child(3) {
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    -webkit-transform-origin: 113.89185423999999px 178.78462023999998px;
    transform-origin: 113.89185423999999px 178.78462023999998px;
  }
  .lds-spin div:nth-child(4) > div {
    left: 38px;
    top: 147.28203231999998px;
    -webkit-animation-delay: -0.555555555555556s;
    animation-delay: -0.555555555555556s;
  }
  .lds-spin > div:nth-child(4) {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg);
    -webkit-transform-origin: 60px 169.28203231999998px;
    transform-origin: 60px 169.28203231999998px;
  }
  .lds-spin div:nth-child(5) > div {
    left: 2.824590319999999px;
    top: 105.36161144px;
    -webkit-animation-delay: -0.444444444444444s;
    animation-delay: -0.444444444444444s;
  }
  .lds-spin > div:nth-child(5) {
    -webkit-transform: rotate(160deg);
    transform: rotate(160deg);
    -webkit-transform-origin: 24.82459032px 127.36161143999999px;
    transform-origin: 24.82459032px 127.36161143999999px;
  }
  .lds-spin div:nth-child(6) > div {
    left: 2.824590319999999px;
    top: 50.638388559999996px;
    -webkit-animation-delay: -0.333333333333333s;
    animation-delay: -0.333333333333333s;
  }
  .lds-spin > div:nth-child(6) {
    -webkit-transform: rotate(200deg);
    transform: rotate(200deg);
    -webkit-transform-origin: 24.82459032px 72.63838856px;
    transform-origin: 24.82459032px 72.63838856px;
  }
  .lds-spin div:nth-child(7) > div {
    left: 38px;
    top: 8.717967680000001px;
    -webkit-animation-delay: -0.222222222222222s;
    animation-delay: -0.222222222222222s;
  }
  .lds-spin > div:nth-child(7) {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg);
    -webkit-transform-origin: 60px 30.71796768px;
    transform-origin: 60px 30.71796768px;
  }
  .lds-spin div:nth-child(8) > div {
    left: 91.89185424px;
    top: -0.784620239999995px;
    -webkit-animation-delay: -0.111111111111111s;
    animation-delay: -0.111111111111111s;
  }
  .lds-spin > div:nth-child(8) {
    -webkit-transform: rotate(280deg);
    transform: rotate(280deg);
    -webkit-transform-origin: 113.89185423999999px 21.215379760000005px;
    transform-origin: 113.89185423999999px 21.215379760000005px;
  }
  .lds-spin div:nth-child(9) > div {
    left: 139.28355544px;
    top: 26.576991200000002px;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .lds-spin > div:nth-child(9) {
    -webkit-transform: rotate(320deg);
    transform: rotate(320deg);
    -webkit-transform-origin: 161.28355544px 48.57699120000001px;
    transform-origin: 161.28355544px 48.57699120000001px;
  }
  .lds-spin div:nth-child(10) > div {
    left: 158px;
    top: 78px;
    -webkit-animation-delay: 0.111111111111111s;
    animation-delay: 0.111111111111111s;
  }
  .lds-spin > div:nth-child(10) {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transform-origin: 180px 100px;
    transform-origin: 180px 100px;
  }
  .lds-spin {
    width: 90px !important;
    height: 90px !important;
    -webkit-transform: translate(-45px, -45px) scale(0.45) translate(45px, 45px);
    transform: translate(-45px, -45px) scale(0.45) translate(45px, 45px);
  }
  </style></div>
