


<div class="row">

  <!--<div class="col-md-2">-->
    <!--<app-holiday-list></app-holiday-list>-->
  <!--</div>-->
  <!--<div class="col-md-10">-->
    <!--List O cities by selected country-->
  <!--</div>-->
  <div class="col-md-2">
    <app-holiday-cities-list></app-holiday-cities-list>
  </div>
  <div class="col-md-10">
    City details
    <app-holiday-details [holiday]="selectedCity"></app-holiday-details>
  </div>
-------------------------------------------------------
  <!--<div> <img src="{{imageToShow}}"> </div>-->

</div>


