<nav class="navbar navbar-light bg-light">
  <ul class="nav flex-column">
    <li class="nav-item">
      <!--<a class="nav-link active" href="#">Active</a>-->
      <a routerLink="/" [ngStyle]="{'color': 'black', 'text-decoration': 'none'}"><h2> City Break</h2></a>
    </li>
    <li class="nav-item">
      <!--<a class="nav-link active" href="#">Active</a>-->
      <a routerLink="/" [ngStyle]="{'color': 'black', 'text-decoration': 'none'}"><h6> Turistic Portal & Adventure</h6></a>
    </li>
  </ul>
</nav>


