<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="navbar-brand" [ngStyle]="{'color': 'black', 'text-decoration': 'none'}" [routerLink]="['/']" ><h2> City Break</h2></a>
        </li>
        <h5>&nbsp;</h5>
        <li class="nav-item">
          <a class="navbar-brand" [ngStyle]="{'color': 'black', 'text-decoration': 'none'}" [routerLink]="['/']" ><h6> Turistic Portal & Adventure</h6></a>
        </li>
      </ul>
    </div>
  </div>
</nav>





