<div>
  <ol class="breadcrumb container" style="width: 100%; background-color: #F2F2F2">
    <li><a href="#"  style="color:black">Home</a></li>
    <li><a href="#" style="color:black">1</a></li>
    <li><a href="#" style="color:black">2</a></li>
    <li>3</li>
  </ol>
</div><h4>&nbsp;</h4>

<h4>List of Cities in {{selectedCountry}}:</h4>

<div class="list-group">
  <app-holiday-cities-item *ngFor="let value of getListOfUniqueCitiesInSelectedCountry()" [holiday]="value" ></app-holiday-cities-item>
</div>

<div class="row"></div>
