<div>
  <ol class="breadcrumb container" style="width: 100%; background-color: #F2F2F2; margin-bottom: 0px">
    <li><a (click)="redirectToHomePage()"  style="color:black;cursor: pointer">Home</a></li>
    <li><a (click)="redirectToHomePage()" style="color:black;cursor: pointer">List of holidays</a></li>
    <li>{{selectedCountry}}</li>
  </ol>
</div><br/>

<h2>List of cities in {{selectedCountry}}:</h2><br/>

<div class="row container-fluid">

  <div class="list-group">
    <app-holiday-cities-item *ngFor="let value of getListOfUniqueCitiesInSelectedCountry()" [holiday]="value" ></app-holiday-cities-item>
  </div>

</div>

<div>&nbsp;</div>
<p style="text-align:center; font-style: italic;font-size: 11px">Free pictures from: https://pixabay.com</p>
