<div>
  <ol class="breadcrumb container" style="width: 100%; background-color: #F2F2F2; margin-bottom: 0px">
    <li><a [routerLink]="['/']" style="color:black">Home</a></li>
    <li><a [routerLink]="['/']" style="color:black">List of holidays</a></li>
    <li>{{selectedCountry}}</li>
  </ol>
</div><br/>

<h2>List of cities in {{selectedCountry}}:</h2><br/>

<div class="row container-fluid">

  <div class="list-group">
    <app-holiday-cities-item *ngFor="let value of getListOfUniqueCitiesInSelectedCountry()" [holiday]="value" ></app-holiday-cities-item>
  </div>

</div>
