<div *ngIf="isLoading" style=" width: 100%;height: 100%;position: fixed; top: 0;left: 0;
  opacity: 0.5;background-color: black;z-index: 1;filter: Alpha(opacity=50);">
      <div  style=" top: 35%; left: 47% ;position:absolute; width:100%; height:100%">
        <app-loading-spinner></app-loading-spinner>
      </div>
</div>

<div>
  <ol class="breadcrumb container" style="width: 100%; background-color: #F2F2F2; margin-bottom: 0px">
    <li><a [routerLink]="['/']" style="color:black">Home</a></li>
    <li>add new </li>
  </ol>
</div><br/>

<h2>Add new Holiday</h2><br/>

<div class="row container-fluid" >

  <div class="col-md-6" style='padding-right: 0px;padding-left: 0px;'>

    <!--<form class="form-horizontal" (ngSubmit)="addHoliday(holidayForm)" #holidayForm="ngForm"> &ndash;&gt; alternative 2-->
    <form class="form-horizontal" (ngSubmit)="addHoliday()" #holidayForm="ngForm" style='text-align: left;'>
        <div class="form-group">
          <label class="col-sm-2 control-label">City:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ngModel="Warsaw" name="city" required #cityInput="ngModel">
          </div>
          <div class="col-sm-5 control-label alertInfoClass" id="" *ngIf="!cityInput.valid && cityInput.touched">Please enter a city.</div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Country:</label>
          <div class="dropdown col-sm-3">
            <select class="form-control" [ngModel]="listOfUniqueCountriesForHolidays[0].country" name="country">
              <option *ngFor="let tempCountry of listOfUniqueCountriesForHolidays" [value]="tempCountry.country">{{tempCountry.country}}</option>
              <!--<option  >...other</option>-->
              <!--<textarea class="form-control"  rows="3" ngModel="very nice" name="description" required #descriptionInput="ngModel"></textarea>-->
            </select>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Adult price:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ngModel="100" name="priceForAdult" required #priceForAdultInput="ngModel">
          </div>
          <div class="col-sm-5 control-label alertInfoClass" *ngIf="!priceForAdultInput.valid && priceForAdultInput.touched">Please enter a price for adult.</div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" >Child price:</label>
          <div class="col-sm-3">
            <input type="text" class="form-control" ngModel="80" name="priceForChild" required #priceForChildInput="ngModel">
          </div>
          <div class="col-sm-5 control-label alertInfoClass" *ngIf="!priceForChildInput.valid && priceForChildInput.touched">Please enter a price for child.</div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Description:</label>
          <div class="col-sm-6">
            <textarea class="form-control"  rows="3" ngModel="very nice" name="description" required #descriptionInput="ngModel"></textarea>
          </div>
          <div class="col-sm-4 control-label alertInfoClass" *ngIf="!descriptionInput.valid && descriptionInput.touched">Please enter a description.</div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label">Image:</label>
          <div class="col-sm-3">
            <input type="file" class="file" ngModel="" name="image"   #imageInput  (change)="uploadImageFile($event)" required/>
          </div>
          <div class="col-sm-8 control-label alertInfoClass" *ngIf="notImageMessage">{{notImageMessage}}</div>
          <div class="col-sm-8 control-label alertInfoClass"  *ngIf="exceedSizeLimitMessage && !notImageMessage">{{exceedSizeLimitMessage}}</div>
        </div><br/><br/>

        <div class="form-group">
          <div class="row col-sm-3 control-label" style="margin-bottom: 100px; margin-left:100px">
            <button type="submit" class="btn btn-primary" [disabled]="!holidayForm.valid">Add</button>
          </div>
        </div>

      </form>
  </div>

  <div class="col-md-6" style='padding-right: 0px; padding-left: 0px;'>
    <div>
      <img [src]="imgURL" *ngIf="imgURL" width="100%" height="400" class="center-block"/>
    </div>
  </div>

</div>

<!--<p *ngFor="let value of listOfHolidays" >{{value.city}}</p>-->
