<h2>Edit Holiday: {{holiday.city}}</h2><br/>

<div class="container">
  <form class="form-horizontal" (ngSubmit)="updateHoliday()" #holidayUpdateForm="ngForm">
    <div class="form-group">
      <label class="col-sm-2 control-label" >City</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" [(ngModel)]="holiday.city" name="city" required #cityInput="ngModel">
      </div>
      <div class="col-sm-3 control-label alertInfoClass" *ngIf="!cityInput.valid && cityInput.touched">Please enter a city.</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Country:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" [(ngModel)]="holiday.country" name="country" required #countryInput="ngModel">
      </div>
      <div class="col-sm-3 control-label alertInfoClass" *ngIf="!countryInput.valid && countryInput.touched">Please enter a country.</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" >Price for adult:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" [(ngModel)]="holiday.priceForAdult" name="priceForAdult" required #priceForAdultInput="ngModel">
      </div>
      <div class="col-sm-3 control-label alertInfoClass" *ngIf="!priceForAdultInput.valid && priceForAdultInput.touched">Please enter a price for adult.</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label" >Price for child:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control" [(ngModel)]="holiday.priceForChild" name="priceForChild" required #priceForChildInput="ngModel">
      </div>
      <div class="col-sm-3 control-label alertInfoClass" *ngIf="!priceForChildInput.valid && priceForChildInput.touched">Please enter a price for child.</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Description:</label>
      <div class="col-sm-5">
        <textarea class="form-control"  rows="3" [(ngModel)]="holiday.description" name="description" required #descriptionInput="ngModel"></textarea>
      </div>
      <div class="col-sm-3 control-label alertInfoClass" *ngIf="!descriptionInput.valid && descriptionInput.touched">Please enter a description.</div>
    </div>

    <div class="form-group">
      <label class="col-sm-2 control-label">Image:</label>
      <div class="col-sm-5">
        <input type="file" class="file" ngModel="" name="image"  #imageInput/>
      </div>
      <!--<div class="col-sm-3 control-label alertInfoClass" *ngIf="!imageInput.valid && imageInput.touched">Please choose a image from disk.</div>-->
    </div>

    <div class="form-group">
      <div class="row col-sm-3 control-label" style="margin-bottom: 100px">
        <button type="submit" class="btn btn-primary" [disabled]="!holidayUpdateForm.valid">Save</button>
      </div>
    </div>

  </form>
</div>
