<div>
  <ol class="breadcrumb container" style="width: 100%; background-color: #F2F2F2">
    <li><a href="#"  style="color:black">Home</a></li>
    <li><a href="#" style="color:black">1</a></li>
    <li><a href="#" style="color:black">2</a></li>
    <li>3</li>
  </ol>
</div>&nbsp;

<h2>List of Holidays:</h2><br/>
<div class="row container-fluid">
<div class="list-group">
      <app-holiday-item *ngFor="let value of getListOfUniqueCountriesForHolidays()" [holiday]="value" ></app-holiday-item>

  <a class="list-group-item col-md-4" style="cursor: pointer" (click)="redirectToAddHoliday()" >
    <div class="col-md-12" style="color: black">
      <div>Add holiday</div><br />
      <div style=" display: flex;align-items: center;justify-content: center;">
        <button type="button" class="btn btn-default btn-lg" style=" height:200px;width:200px;background-color: Transparent;">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
        </button>
      </div>

    </div>
  </a>

</div>

</div>

